body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: 180px 1fr;
  min-height: 520px;
  height: auto;
  width: 520px;    
  max-width: 95vw; 
  align-items: stretch;

  gap: 12px;
  padding: 16px;
  background: #f2f2f7;
  border-radius: 18px;
  box-sizing: border-box;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  min-width: 0;  
}

.display-wrapper {
  width: 100%;
  margin-bottom: 12px;
  flex-shrink: 0;
}

#display {
  width: 100%;
  height: 90px;
  font-size: 38px;
  text-align: right;
  padding: 0 16px;

  border-radius: 14px;
  background: #fff;
  color: #000;

  outline: none;
  white-space: nowrap;
  overflow: hidden;

  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px #ddd;
}

.buttons {
  flex: 1;
  overflow: hidden; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  min-width: 0;
}

button {
  height: 64px;
  font-size: 26px;
  border-radius: 50%;
  border: none;
  background: #e5e5ea;
}

.zero {
  grid-column: span 2;
}

#history {
  height: 100%;
  background: #fff;
  border-radius: 14px;
  padding: 12px;
  font-size: 14px;
  color: #444;
  overflow-y: auto;
  white-space: pre-line;
}
