body {
  margin: 0;
  width: 100vw;
  height: 100dvh; 
  min-height: 100vh;   
  min-height: 100dvh;  

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: sans-serif;
  background: #000;
}

.calculator {
  display: grid;
  grid-template-columns: 22% 1fr;

  width: 100%;
  height: 100%;

  max-width: 1200px;   
  max-height: 100dvh;   

  gap: 16px;
  padding: 16px;

  background: #f2f2f7;
  border-radius: 0;    
  box-sizing: border-box;

  overflow: hidden;
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;
}

.display-wrapper {
  flex-shrink: 0;
  margin-bottom: 16px;
}

#display {
  height: 120px;     
  font-size: 48px;

  width: 100%;
  padding: 0 20px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  background: #fff;
  border-radius: 16px;
  box-shadow: inset 0 0 0 1px #ddd;

  overflow: hidden;
}

#history {
  background: #fff;
  border-radius: 14px;
  padding: 12px;
  font-size: 16px;
  color: #000;

  overflow-y: auto;
  white-space: normal;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.buttons {
  flex: 1; 
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

button {
  height: 64px;
  font-size: 26px;
  border-radius: 50%;
  border: none;
  background: #e5e5ea;
}

.zero {
  grid-column: span 2;
}
