body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
}

.calculator {
  display: grid;
  grid-template-columns: 180px 1fr;
  min-height: 520px;

  gap: 12px;
  padding: 16px;

  background: #f2f2f7;
  border-radius: 18px;
  box-sizing: border-box;

  overflow: hidden; 
}

.right {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 0;     
  overflow: hidden;
}

.display-wrapper {
  width: 100%;
  margin-bottom: 12px;
  overflow: hidden;
}

#display {
  width: 100%;
  height: 90px;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  font-size: 38px;
  padding: 0 16px;

  background: #fff;
  color: #000;

  white-space: nowrap;
  overflow: hidden;

  border-radius: 14px;
  box-shadow: inset 0 0 0 1px #ddd;

  box-sizing: border-box;
}

#history {
  background: #fff;
  border-radius: 14px;
  padding: 12px;
  font-size: 14px;
  color: #444;
  overflow-y: auto;
  white-space: pre-line;
}

.buttons {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 64px;
  font-size: 26px;
  border-radius: 50%;
  border: none;
  background: #e5e5ea;
}

.zero {
  grid-column: span 2;
}
